{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-danger">
        <div class="card-header bg-danger text-white">
          <h4 class="mb-0">Error</h4>
        </div>
        <div class="card-body">
          <p class="lead">{{ message }}</p>
          <div class="mt-4">
            <a href="/" class="btn btn-outline-secondary">Return to Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 